resources/
build/
vs_build/
lib/
.vs/
.vscode/
.qoder/
.venv/
.agents/
.github/
# bin/
_deps/

*Config.h

*.obj
*.uscene

*.bmp
*.gif
*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb
*.pyc

/bin/**
!/meta/bin/**
!/source/**

/modules/render/source/generated
